# Python
.venv/
__pycache__/
*.pyc

# Secrets
.env
.env.*

# Runtime state
config/global_state.json
config/tasks.json

# Webhook credentials
/data/webhook_credentials.json

# Webhook events
/data/webhook_events/

#Config tasks
config/tasks

# Logs
logs/

